# From https://github.com/github/gitignore/blob/main/Haskell.gitignore
# Useful defaults for Haskell builds
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# For analysing CSVs
*.xlsx

# Ignore python venv
venv/
